<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035883453080-qt1qn291id90fskt384igp7nb763ekks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035883453080-qt1qn291id90fskt384igp7nb763ekks</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1035883453080-s48ard6bordlbqolgcbiomu7qhovt065.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDldK6tFonqQI9Ar3wDr8ABxRbt4uoaL44</string>
	<key>GCM_SENDER_ID</key>
	<string>1035883453080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.example</string>
	<key>PROJECT_ID</key>
	<string>fl-chat-142db</string>
	<key>STORAGE_BUCKET</key>
	<string>fl-chat-142db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035883453080:ios:b421774ce44a3a362c4eed</string>
</dict>
</plist>